body {
    font-family: "Halyard" Display;
}

.container {
    margin-top: -20px;
}
.nav-link {
    font-size: 16px;
    
    
}
.nav-item {
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: #1E266D;
    padding: 20px;
    font-family: Halyard Text;
    font-size: 16px;
}
.text {
    margin-top: -2px;
    padding: 50px;
}
.number {
    font-size: 16px;
    color: #1E266D;
    padding: 40px;
    line-height: 5px;
}
.btn-primary {
    border-radius: 20px;
}



h1 {
    text-align: center;
    color: #1E266D;
    font-size: 4vw;
    height: 150px;
}
h5 {
    color: #1E266D;
    font-size: 22px;
}
p {
    color: #455880;
    font-size: 18px;
}
.img-fluid {
    margin-top: -150px;
}
.list-unstyled {
    margin-top: 75px;
    
}
.mr-3 {
    width: 3.2vw;
    line-height: 20px;
    
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 0px;
    }
   
    .navbar-light .navbar-nav .nav-link {
        color: #1E266D;
        padding: 0px;
        margin-top: 15px;
    }
    .text {
        padding: 0px;
        margin-top: 10px;
    }
    .number {
        padding: 0px;
    }
    .img-fluid {
        width: auto;
    }
    .mr-3 {
        width: auto;
        height: auto;
    }
    
}